<RabbitMQClientConfigs>
	<!--<SendFileConfigurations>
		<RabbitMQSendFileConfig>
			<Key>InspectionData</Key>
			<Directory>D:\探伤数据发送</Directory>
			<SearchPattern>*.*</SearchPattern>
			<KeepDirectory>false</KeepDirectory>
			<BackupDirectory></BackupDirectory>
		</RabbitMQSendFileConfig>
	</SendFileConfigurations>-->
</RabbitMQClientConfigs>