<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
	  <!--探伤左侧主机还是右侧主机 填写左侧或右侧-->
      <add key="Side" value="右侧" />
      <!--本地IP地址-->
      <add key="LocalIp" value="192.168.1.15"/>
      <!--文件保存的地址-->
	  <add key="StoragePath" value="D:\Test\LY\15\TudsData\探伤数据存储" />
      <add key="SendFilePath" value="D:\Test\LY\15\TudsData\左右侧报文合成" />
	  <add key="InspectionMessageStoragePath" value="D:\Test\LY\15\TudsData\探伤左右侧报文存储" />
	  <!--此文件夹会在探伤报文生成后10分钟才收到文件-->
	  <add key="SendDataPath" value="D:\Test\LY\15\TudsData\原始数据发送" />
	  <add key="CombineFilePath" value="D:\Test\LY\15\TudsData\原始数据合成" />
      <!--回放波形时，每个波形之间的间隔时间，以毫秒计算-->
      <add key="ReplayIntervalTime" value="100" />
	  <add key="EnalbeRabbitMq" value="true" />
      <add key="RabbitMQ_UserName" value="rabbit1" />
      <add key="RabbitMQ_Password" value="rabbit1" />
      <add key="RabbitMQ_Ip" value="127.0.0.1" />
      <add key="RabbitMQ_Port" value="5672" />
      <add key="RabbitMQ_VirtualHost" value="/" />
	  <add key="DefaultWheelDiameter" value="1050" />
	  <add key="IntermediatePath" value="D:\Test\LY\15\样板轮中间结果" />
	  <!--调用python脚本判伤，这里指定调用的解释器和脚本路径-->
	  <add key="PythonInterpreter" value="C:\Anaconda3\envs\torch\python.exe"/>
	  <add key="PythonScriptPath" value="C:\Users\matian314\PycharmProjects\inspection\main.py"/>
      <add key="ClientSettingsProvider.ServiceUri" value="" />
	  
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>