<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<appender name="Debug" type="log4net.Appender.RollingFileAppender">
		<file value="log\" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value="Date" />
		<datePattern value="yyyy年MM月dd日/'Debug.txt'"/>
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[时间]:%date %newline[信息]:%message%newline%newline"/>
		</layout>
		<filter type="log4net.Filter.LevelMatchFilter">
			<param name="LevelToMatch" value="Debug" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
	</appender>
	<appender name="Info" type="log4net.Appender.RollingFileAppender">
		<file value="log\" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value="Date" />
		<datePattern value="yyyy年MM月dd日/'Info.txt'"/>
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[时间]:%date %newline[信息]:%message%newline%newline"/>
		</layout>
		<filter type="log4net.Filter.LevelMatchFilter">
			<param name="LevelToMatch" value="Info" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
	</appender>
	<appender name="Warn" type="log4net.Appender.RollingFileAppender">
		<file value="log\" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value="Date" />
		<datePattern value="yyyy年MM月dd日/'Warn.txt'"/>
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[时间]:%date %newline[触发位置]:%location %newline[信息]:%message%newline%newline"/>
		</layout>
		<filter type="log4net.Filter.LevelMatchFilter">
			<param name="LevelToMatch" value="Warn" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
	</appender>
	<appender name="Error" type="log4net.Appender.RollingFileAppender">
		<file value="log\" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value="Date" />
		<datePattern value="yyyy年MM月dd日/'Error.txt'"/>
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[时间]:%date %newline[触发位置]:%location %newline[信息]:%message%newline%newline"/>
		</layout>
		<filter type="log4net.Filter.LevelMatchFilter">
			<param name="LevelToMatch" value="Error" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
	</appender>
	<appender name="Fatal" type="log4net.Appender.RollingFileAppender">
		<file value="log\" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value="Date" />
		<datePattern value="yyyy年MM月dd日/'Fatal.txt'"/>
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[时间]:%date %newline[触发位置]:%location %newline[信息]:%message%newline%newline"/>
		</layout>
		<filter type="log4net.Filter.LevelMatchFilter">
			<param name="LevelToMatch" value="Fatal" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
	</appender>
	<appender name="Brief" type="log4net.Appender.RollingFileAppender">
		<file value="log\" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value="Date" />
		<datePattern value="yyyy年MM月dd日/'log.txt'"/>
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[时间]:%date%newline[日志级别]:%-5p  %newline[信息]:%message%newline%newline"/>
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<param name="LevelMin" value="Debug" />
			<param name="LevelMax" value="Info" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
	</appender>
	<appender name="Detail" type="log4net.Appender.RollingFileAppender">
		<file value="log\" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value="Date" />
		<datePattern value="yyyy年MM月dd日/'log.txt'"/>
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[时间]:%date%newline[日志级别]:%-5p  %newline[触发位置]:%location %newline[信息]:%message%newline%newline"/>
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<param name="LevelMin" value="Warn" />
			<param name="LevelMax" value="Fatal" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
	</appender>
	<appender name="SubscribeAppender" type="log4net.Appender.RollingFileAppender">
		<file value="log\" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value="Date" />
		<datePattern value="yyyy年MM月dd日/'log.txt'"/>
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[时间]:%date%newline[日志级别]:%-5p  %newline[信息]:%message%newline%newline"/>
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<param name="LevelMin" value="Debug" />
			<param name="LevelMax" value="Fatal" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
	</appender>
    <!--配置在日志中到底使用哪些类型的日志-->
	<root>
		<priority value="ALL"/>
		<level value="ALL"/>
		<!--根据日志级别分门别类的记录日志-->
		<!--<appender-ref ref="Debug" />
		<appender-ref ref="Info" />
		<appender-ref ref="Warn" />
		<appender-ref ref="Error" />
		<appender-ref ref="Fatal" />-->
		<!--记录所有日志，其追踪Debug，Info两个级别记录相对简单，其他三个级别记录详细，且会调用本地信息，影响性能-->
		<!--<appender-ref ref="Brief" />
		<appender-ref ref="Detail" />-->
	 <appender-ref ref="SubscribeAppender" />
	</root>
</log4net>
